node_modules/
.expo/
.expo-shared/
dist/
web-build/
android/
ios/
.env
.env.*
!.env.example

# Firebase/Google service credentials
google-services.json
credentials.json
credentials/
android/keystore.properties
GoogleService-Info.plist
.idea/
.vs/
*.DotSettings.user
*.user
**/bin/
**/obj/
*.log
.DS_Store
